env:
  RUST_STABLE_VER: "1.93"

name: CI

on:
  pull_request:
  merge_group:
  push:
    branches:
      - main

jobs:
  verify:
    name: verify
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Install Rust ${{ env.RUST_STABLE_VER }}
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ env.RUST_STABLE_VER }}
          components: rustfmt,clippy

      - name: Verify workspace
        run: cargo run -- ci --extended
